.flex-container {
    display: flex;
    /*height: 200px;*/
    align-items: right;
    flex-direction: column;
  }
  
.flex-container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

/* nav {
    /*height: 100px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: wheat;
} */


/* a {
    display: inline-block;
    height: 60px;
    width:150px;
    text-align: center;
    background-color: rgb(232, 226, 215);
}

nav a{
    text-decoration: none;
    text-align: center;
    margin-right: 2%;
    font-size: 20px;
    color: darkgreen;
}
*/
/*
li{
    background-color: wheat;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
*/
.current{
    /* background: #d19322; */
    text-decoration: underline;
}

body{
    /* background-color: antiquewhite; */
    background-color: floralwhite;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */

}

.section-peach {
    background-color: peachpuff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.section-antiquewhite {
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
}

.section-green {
    background-color: rgba(34, 139, 34, 0.514);
}

.mezzacolonna {
    width: 50%;
    text-align: center;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    */
    }
/* prova per div flex (class row) che contiene 2 diverse div (class col-md-5 e col-md-7) una a fianco all'altra*/
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-5, .col-md-7 {
    position: relative;
    width: 90%;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    .col-md-5 {
        flex: 0 0 41.66666667%;
        max-width: 41.66666667%;
    }
}

@media (min-width: 768px) {
    .col-md-7 {
        flex: 0 0 58.33333333%;
        max-width: 58.33333333%;
    }
}

/* style="font-family: futura-lt-w01-book, futura-lt-w05-book, sans-serif;"
*/